:root{
    --bg-color-1: rgb(58, 58, 58);
    --bg-color-2: rgb(29, 29, 29);
    --bg-color-3: rgb(19, 19, 19);

    --text-color-1: white;
    --text-color-2: rgb(192, 192, 192);
    --text-color-3: rgb(231, 90, 90);
}

body{
    font-family: 'Montserrat', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-content{
    margin-left: 260px;
    background: var(--bg-color-2);
    
}




/*ASIDE MENU*/

.aside{
    position:fixed;
    background: var(--bg-color-1);
    height: 100%;
    width: 260px;
    display: flex;
    justify-content: center;  
    border-right: 1px solid var(--text-color-2);
}

.aside .logo{
    position: absolute;
    top: 80px;
    font-weight: 400;
    font-size: 30px;
}

.aside .logo span{
    font-size: 60px;
    font-weight: 800;
    color: var(--text-color-1);
}

.menu{
    position: absolute;
    top:420px;
}
.menu li{
    list-style: none;
    margin-bottom: 35px;
    transition: all .3s ease-in-out;
}

.menu li a{
    text-decoration: none;
    color: var(--text-color-2);
    font-size: 20px;
    font-weight: 500;  
}

.menu li:hover{
    transform: scale(1.2); 
}

.menu li a:active{
    color: var(--text-color-3);
}

.menu li ion-icon{
    margin-right: 15px;
    font-size: 22px;
    position: relative;
    top: 3px;
}



.nav-toggler{
    position: fixed;
    top: 20px;
    left: 300px;
    background: var(--bg-color-1);
    border-radius: 5px;
    font-size: 35px;
    cursor: pointer;
    display: none;
    align-items: center;
    justify-content: center;
    padding: 5px;
}


/*HOME SECTION*/

.home{
    height: 100%;
    border-bottom: 2px solid var(--text-color-3);
}

.container-home{
    display:flex;
    margin: 0px 150px;
    padding-top: 120px;
    justify-content: center;
    align-items: center;
}



.info{
    flex: 0 0 50%;
    max-width: 50%;
    
    
}

.info h1{
    margin-bottom:50px;
    color: var(--text-color-1);
    font-size: 35px;
}

.info h2{
    margin-bottom:15px;
    color: var(--text-color-2);
    font-size: 30px;
}

.info p{
    color: var(--text-color-3);
    font-size: 25px;

}

.foto{
    text-align: center;
    flex: 0 0 50%;
    max-width: 50%;
    height: 600px;
    min-height: 500px;
    min-width: 400px;
    background: url(img/foto-profilo.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center; 
}


/*ABOUT SECTION*/

.about{
    height: 100%;
    border-bottom: 2px solid var(--text-color-3);
    border-top: 2px solid var(--text-color-3);
}

.container-about{
    display: flex;
    flex-direction: column;
    margin: 0px 150px;
    padding-top: 120px;
}


.titolo{
    position: relative;
    top:-80px;
    font-size: 26px;
    color: var(--text-color-1);
    border-bottom: 1px solid var(--text-color-2);
}

.about-content{
    position: relative;
    top: -60px;
}

.riga{
    display: flex;
    margin-bottom: 50px;
}

.riga .descrizione{
    flex: 2;
    margin-right: 20px;
    padding: 8px;
    border-radius: 10px;
    box-shadow: 0px 3px 5px 3px var(--text-color-3);
    color: var(--text-color-2);
    font-size: 20px;
}

.riga .skills{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex: 1;
    padding: 8px;
    border-radius: 10px;
    box-shadow: 0px 3px 5px 3px var(--text-color-3);
    color: var(--text-color-2);
    font-size: 20px;
}

.riga .skills .skills-item{
    padding: 5px;
}

.riga .skills .skills-item .type{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.riga .skills .skills-item .type .tipo{
    font-weight: 800;
    font-size: 18px;
}

.riga .skills .skills-item .type .skill-percent{
    font-size: 18px;
}

.riga .skills .skills-item .progress{
    border: 1px solid var(--text-color-2);
}

.riga .skills .skills-item .progress .progress-in{
    background: var(--bg-color-1);
    height: 10px;
}
